html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Sharp Grotesk Book 25 Regular", sans-serif;
  font-style: normal;
  background-color: #000000 !important;
  background-repeat: no-repeat;
}

ul.hlist {
  margin-top: 15px;
  font-family: "Sharp Grotesk Book 25 Regular", sans-serif;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
  list-style: none;
  display: flex;
  font-size: large;
  z-index: 5;
}

::-webkit-scrollbar {
  background-color: #0d0d0d;
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10pt;
}

.hide {
  display: none !important;
}

.current {
  border-radius: 3pt;
  background-color: rgba(255, 255, 255, 0.897);
  color: #000000;
  text-decoration: none;
  padding: 3pt;
}

.access {
  text-decoration: none;
  color: white;
  padding: 3pt;
  cursor: pointer !important;
}

.access:hover,
.current:hover {
  background-color: rgba(255, 255, 255, 0.897);
  color: #000000;
  border-radius: 3pt;
}

#textarea,
#textzone {
  outline: none;
  width: 100%;
}

#textarea {
  padding-bottom: 10%;
}

.post {
  font-family: sans-serif;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: small;
  margin-bottom: 15px;
}

.tittle,
.user {
  font-weight: bold;
}

.main {
  text-align: center;
  font-size: x-large;
}

#exit {
  position: fixed;
  right: 20px;
  font-size: x-large;
  cursor: pointer !important;
}

.messages {
  color: white;
  position: fixed;
  right: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 100;
}

.delete,
.edit {
  color: white;
  border: none;
  background-color: rgb(12, 12, 12);
  margin-right: 5px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.content {
  text-align: center;
  color: white;
}

/*items*/

main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.intro,
.team,
.mission {
  margin-bottom: 2rem;
}

.team {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.team-member {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  flex: 1 1 calc(50% - 2rem);
}

.separator {
  height: 100px;
  width: 100%;
}

.team-member img {
  width: 100px;
  margin-bottom: 1rem;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.team {
  color: #000000 !important;
}

.foot {
  font-family: "Sharp Grotesk Book 25 Regular", sans-serif;
  margin-top: 10%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: black;
  width: 100%;
}

.content img {
  width: 6%;
}
